
.container {
  text-align: center;
}

.heading {
  text-align: center;
  font-family: Arial;
  font-size: 50px;
}
#message {
  font-family: Arial;
  font-size: 35px;

}
table {
  margin: auto;
}

td {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  font-size: 50px;
  font-weight: bold;
}

#reset {
  padding: 20px;
}